<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cloud Environment Testing</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/animate.css" rel="stylesheet">
    <link href="../static/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="../static/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                    <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                    </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            <span class="block m-t-xs"> <strong class="font-bold">Cloud Testing</strong></span> 
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="second_cloudTest.html"><span class="nav-label">Run Testing</span></a>
                </li>
            </ul>

        </div>
    </nav>


        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to Cloud Testing</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="pull-left">
                                    <img alt="image" class="img-circle" src="../static/img/profile.jpg">
                                </a>
                            </div>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
        </nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading"></div>
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <script type="text/javascript">  
                    function showPreview(source) 
                    {  
                        var file = source.files[0];  
                        if(window.FileReader) 
                        {  
                            var fr = new FileReader(); 
                            fr.onloadend = function(e) 
                            {  
                                document.getElementById("show").src = e.target.result;  
                            };  
                            fr.readAsDataURL(file);  
                        }  
                    }  
                    </script>
                    <form action="/upload/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>请选择yaml（.yml）文件</p>  
                    <input type="file" name="file" onchange="showPreview(this)" accept=".yml"/>
                    <input type="submit" value="上传">
                    <br>
                    <iframe name="show" id="show" width="70%" height="50%" src=""/>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright </strong> Tongji409&copy; 2017
            </div>
        </div>
        </div>
        </div>



    <!-- scripts -->
    <script src="../static/js/jquery-2.1.1.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="../static/js/inspinia.js"></script>
    <script src="../static/js/plugins/pace/pace.min.js"></script>

    <!-- DROPZONE -->
    <script src="../static/js/plugins/dropzone/dropzone.js"></script>


    <script>
        $(document).ready(function(){

            Dropzone.options.myAwesomeDropzone = {

                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 100,
                maxFiles: 100,

                // Dropzone settings
                init: function() {
                    var myDropzone = this;

                    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });
                    this.on("sendingmultiple", function() {
                    });
                    this.on("successmultiple", function(files, response) {
                    });
                    this.on("errormultiple", function(files, response) {
                    });
                }

            }

       }); 
    </script>

</body>

</html>
